html,body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
body {
    font-family: '微軟正黑體', 'Microsoft JhengHei';
}

h1,
h2,
h3,
h4,
h5 {
    font-family: '微軟正黑體', 'Microsoft JhengHei';
    font-weight:800;
}

.col-md-4{
    padding: 0;    }

.col-md-4 .image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}

.image{
    width : auto;
    height: 100%;
}
    
.row{
    margin: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;     
    overflow: hidden;
    width: 100%;
    height: 100%;     
    transition: 0.5s ease;
}

.container:hover .overlay {
    z-index: 10000;
    background-color: black;
    opacity: 0.3;
}
    
    
.fa-chevron-left,.fa-chevron-right{
    transition: .5s ease;
}

.container:hover .middle .fa-chevron-left{
    transform: translate(-100%, 0);
    -ms-transform: translate(-100%,0); 
}
    
.container:hover .middle .fa-chevron-right{
    transform: translate(100%, 0);
    -ms-transform: translate(100%,0); 
}
    
.container:hover .middle .enter{
    transform: translate(0, -50%);
    -ms-transform: translate(0,-50%); 
}

.topper{
    z-index: 10001;
}

.nav-modified{
    border-radius: 0;
    margin: 0;
}

.middle-down {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 50px;
    min-width: 20%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.middle-top {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    position: absolute;
    width: 350px;
    min-width: 60%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.school{
    font-family:fantasy;
    color: white;
    font-size: 40px;
    text-align: center;
}

.enter{
    transition: .5s ease;
    font-family:fantasy;
    color: white;
    font-size: 25px;
    text-align: center;
    height: 100%;
}

.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.horizontal-middle{
    position:relative;
    left:50%;
    transform:translateX(-50%);
}

.vertical-middle{
    position:relative;
    top:50%;
    transform:translateY(-50%);
}

@media only screen and (max-width: 992px){
    .middle{
        opacity: 1;   
        transform: translate(-50%, 100%);
        -ms-transform: translate(-50%, 100%); 
    }

    .middle .fa-chevron-left{
        transform: translate(-100%, 0);
        -ms-transform: translate(-100%,0); 
    }
        
    .middle .fa-chevron-right{
        transform: translate(100%, 0);
        -ms-transform: translate(100%,0); 
    }
        
    .middle .enter{
        transform: translate(0, -50%);
        -ms-transform: translate(0,-50%); 
    }
}
